<html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script language="javascript" type="text/javascript">
    function dynamicdropdown(listindex, city)
    {
    	var select = document.getElementById(city);
		var length = select.options.length;
		for (i = length-1; i >= 0; i--) {
  			select.options[i] = null;
		}
        switch (listindex)
        {
        
case "Andhra Pradesh" :
document.getElementById(city).options[0]=new Option("Amaravati","Amaravati");
document.getElementById(city).options[1]=new Option("Guntur","Guntur");
document.getElementById(city).options[2]=new Option("Kakinada","Kakinada");
document.getElementById(city).options[3]=new Option("Kurnool","Kurnool");
document.getElementById(city).options[4]=new Option("Nellore","Nellore");
document.getElementById(city).options[5]=new Option("Rajahmundry","Rajahmundry");
document.getElementById(city).options[6]=new Option("Tirupati","Tirupati");
document.getElementById(city).options[7]=new Option("Vijayawada","Vijayawada");
document.getElementById(city).options[8]=new Option("Visakhapatnam","Visakhapatnam");
break;
case "Arunachal Pradesh" :
document.getElementById(city).options[0]=new Option("Itanagar","Itanagar");
document.getElementById(city).options[1]=new Option("Namsai","Namsai");
document.getElementById(city).options[2]=new Option("East Siang","East Siang");
document.getElementById(city).options[3]=new Option("Naharlagun","Naharlagun");
break;
case "Assam" :
document.getElementById(city).options[0]=new Option("Dispur","Dispur");
document.getElementById(city).options[1]=new Option("Guwahati","Guwahati");
document.getElementById(city).options[2]=new Option("Silchar","Silchar");
document.getElementById(city).options[3]=new Option("Tezpur","Tezpur");
break;
case "Bihar" :
document.getElementById(city).options[0]=new Option("Patna","Patna");
document.getElementById(city).options[1]=new Option("Gaya","Gaya");
document.getElementById(city).options[2]=new Option("Bihar Sharif","Bihar Sharif");
document.getElementById(city).options[3]=new Option("Chapra","Chapra");
break;
case "Chhattisgarh" :
document.getElementById(city).options[0]=new Option("Nava Raipur","Nava Raipur");
document.getElementById(city).options[1]=new Option("Bilaspur","Bilaspur");
document.getElementById(city).options[2]=new Option("Bhilai","Bhilai");
document.getElementById(city).options[3]=new Option("Raipur","Raipur");
break;
case "Goa" :
document.getElementById(city).options[0]=new Option("Panaji","Panaji");
document.getElementById(city).options[1]=new Option("Goa","Goa");
document.getElementById(city).options[2]=new Option("Maragao","Maragao");
document.getElementById(city).options[3]=new Option("Mapusa","Mapusa");
break;
case "Gujarat" :
document.getElementById(city).options[0]=new Option("Gandhinagar","Gandhinagar");
document.getElementById(city).options[1]=new Option("Bhavnagar","Bhavnagar");
document.getElementById(city).options[2]=new Option("Jamnagar","Jamnagar");
document.getElementById(city).options[3]=new Option("Rajkot","Rajkot");
document.getElementById(city).options[4]=new Option("Vadodara","Vadodara");
document.getElementById(city).options[5]=new Option("Surat","Surat");
break;
case "Haryana" :
document.getElementById(city).options[0]=new Option("Chandigarh","Chandigarh");
document.getElementById(city).options[1]=new Option("Faridabad","Faridabad");
document.getElementById(city).options[2]=new Option("Gurgaon","Gurgaon");
document.getElementById(city).options[3]=new Option("Yamuna Nagar","Yamuna Nagar");
break;
case "Himachal Pradesh" :
document.getElementById(city).options[0]=new Option("Shimla","Shimla");
document.getElementById(city).options[1]=new Option("Hamirpur","Hamirpur");
document.getElementById(city).options[2]=new Option("Dharamshala","Dharamshala");
document.getElementById(city).options[3]=new Option("Bilaspur","Bilaspur");
break;
case "Jharkhand" :
document.getElementById(city).options[0]=new Option("Ranchi","Ranchi");
document.getElementById(city).options[1]=new Option("Bokaro Steel City","Bokaro Steel City");
document.getElementById(city).options[2]=new Option("Dhanbad","Dhanbad");
document.getElementById(city).options[3]=new Option("Jamshedpur","Jamshedpur");
break;
case "Karnataka" :
document.getElementById(city).options[0]=new Option("Bengaluru","Bengaluru");
document.getElementById(city).options[1]=new Option("Belgaum","Belgaum");
document.getElementById(city).options[2]=new Option("Gulbarga","Gulbarga");
document.getElementById(city).options[3]=new Option("Hubli-Dharwad","Hubli-Dharwad");
document.getElementById(city).options[4]=new Option("Mangalore","Mangalore");
document.getElementById(city).options[5]=new Option("Mysore","Mysore");
document.getElementById(city).options[6]=new Option("Bijapur","Bijapur");
break;
case "Kerala" :
document.getElementById(city).options[0]=new Option("Thiruvananthapuram","Thiruvananthapuram");
document.getElementById(city).options[1]=new Option("Kannur","Kannur");
document.getElementById(city).options[2]=new Option("Kochi","Kochi");
document.getElementById(city).options[3]=new Option("Kottayam","Kottayam");
document.getElementById(city).options[4]=new Option("Kollam","Kollam");
document.getElementById(city).options[5]=new Option("Kozhikode","Kozhikode");
document.getElementById(city).options[6]=new Option("Malappuram","Malappuram");
document.getElementById(city).options[7]=new Option("Palakkad","Palakkad");
document.getElementById(city).options[8]=new Option("Perinthalmanna","Perinthalmanna");
document.getElementById(city).options[9]=new Option("Thrissur","Thrissur");
document.getElementById(city).options[10]=new Option("Tirur","Tirur");
break;
case "Madhya Pradesh" :
document.getElementById(city).options[0]=new Option("Bhopal","Bhopal");
document.getElementById(city).options[1]=new Option("Gwalior","Gwalior");
document.getElementById(city).options[2]=new Option("Indore","Indore");
document.getElementById(city).options[3]=new Option("Jabalpur","Jabalpur");
document.getElementById(city).options[4]=new Option("Ujjain","Ujjain");
break;
case "Maharashtra" :
document.getElementById(city).options[0]=new Option("Mumbai","Mumbai");
document.getElementById(city).options[1]=new Option("Amravati","Amravati");
document.getElementById(city).options[2]=new Option("Aurangabad","Aurangabad");
document.getElementById(city).options[3]=new Option("Bhiwandi","Bhiwandi");
document.getElementById(city).options[4]=new Option("Kolhapur","Kolhapur");
document.getElementById(city).options[5]=new Option("Nagpur","Nagpur");
document.getElementById(city).options[6]=new Option("Nanded","Nanded");
document.getElementById(city).options[7]=new Option("Nashik","Nashik");
document.getElementById(city).options[8]=new Option("Sangli","Sangli");
document.getElementById(city).options[9]=new Option("Solapur","Solapur");
document.getElementById(city).options[10]=new Option("Vasai-Virar City","Vasai-Virar City");
document.getElementById(city).options[11]=new Option("Pune","Pune");
break;
case "Manipur" :
document.getElementById(city).options[0]=new Option("Imphal","Imphal");
document.getElementById(city).options[1]=new Option("Kakching","Kakching");
document.getElementById(city).options[2]=new Option("Nambol","Nambol");
document.getElementById(city).options[3]=new Option("Ukhrul","Ukhrul");
break;
case "Meghalaya" :
document.getElementById(city).options[0]=new Option("Shillong","Shillong");
document.getElementById(city).options[1]=new Option("Cherrapunji","Cherrapunji");
document.getElementById(city).options[2]=new Option("Tura","Tura");
document.getElementById(city).options[3]=new Option("West Garo Hills","West Garo Hills");
break;
case "Mizoram" :
document.getElementById(city).options[0]=new Option("Aizawl","Aizawl");
document.getElementById(city).options[1]=new Option("Lunglei","Lunglei");
document.getElementById(city).options[2]=new Option("Kolasib","Kolasib");
document.getElementById(city).options[3]=new Option("Serchhip","Serchhip");
break;
case "Nagaland" :
document.getElementById(city).options[0]=new Option("Kohima","Kohima");
document.getElementById(city).options[1]=new Option("Wokha","Wokha");
document.getElementById(city).options[2]=new Option("Mokokchug","Mokokchug");
document.getElementById(city).options[3]=new Option("Tuensang","Tuensang");
break;
case "Odisha" :
document.getElementById(city).options[0]=new Option("Bhubaneswar","Bhubaneswar");
document.getElementById(city).options[1]=new Option("Cuttack","Cuttack");
document.getElementById(city).options[2]=new Option("Rourkela","Rourkela");
document.getElementById(city).options[3]=new Option("Puri","Puri");
break;
case "Punjab" :
document.getElementById(city).options[0]=new Option("Chandigarh","Chandigarh");
document.getElementById(city).options[1]=new Option("Amritsar","Amritsar");
document.getElementById(city).options[2]=new Option("Jalandhar","Jalandhar");
document.getElementById(city).options[3]=new Option("Ludhiana","Ludhiana");
break;
case "Rajasthan" :
document.getElementById(city).options[0]=new Option("Jaipur","Jaipur");
document.getElementById(city).options[1]=new Option("Ajmer","Ajmer");
document.getElementById(city).options[2]=new Option("Bikaner","Bikaner");
document.getElementById(city).options[3]=new Option("Jodhpur","Jodhpur");
document.getElementById(city).options[4]=new Option("Kota","Kota");
break;
case "Sikkim" :
document.getElementById(city).options[0]=new Option("Gangtok","Gangtok");
document.getElementById(city).options[1]=new Option("Namchi","Namchi");
document.getElementById(city).options[2]=new Option("Jorethang","Jorethang");
document.getElementById(city).options[3]=new Option("Mangan","Mangan");
break;
case "Tamil Nadu" :
document.getElementById(city).options[0]=new Option("Chennai","Chennai");
document.getElementById(city).options[1]=new Option("Coimbatore","Coimbatore");
document.getElementById(city).options[2]=new Option("Erode","Erode");
document.getElementById(city).options[3]=new Option("Madurai","Madurai");
document.getElementById(city).options[4]=new Option("Pondicherry","Pondicherry");
document.getElementById(city).options[5]=new Option("Salem","Salem");
document.getElementById(city).options[6]=new Option("Tiruchirappalli","Tiruchirappalli");
document.getElementById(city).options[7]=new Option("Tirunelveli","Tirunelveli");
document.getElementById(city).options[8]=new Option("Tiruppur","Tiruppur");
document.getElementById(city).options[9]=new Option("Tiruvannamalai","Tiruvannamalai");
document.getElementById(city).options[10]=new Option("Vellore","Vellore");
break;
case "Telangana" :
document.getElementById(city).options[0]=new Option("Hyderabad","Hyderabad");
document.getElementById(city).options[1]=new Option("Warangal","Warangal");
document.getElementById(city).options[2]=new Option("Khammam","Khammam");
document.getElementById(city).options[3]=new Option("Karimnagar","Karimnagar");
break;
case "Tripura" :
document.getElementById(city).options[0]=new Option("Agartala","Agartala");
document.getElementById(city).options[1]=new Option("Dharmanagar","Dharmanagar");
document.getElementById(city).options[2]=new Option("Kailashahar","Kailashahar");
document.getElementById(city).options[3]=new Option("Khowai","Khowai");
break;
case "Uttar Pradesh" :
document.getElementById(city).options[0]=new Option("Lucknow","Lucknow");
document.getElementById(city).options[1]=new Option("Agra","Agra");
document.getElementById(city).options[2]=new Option("Aligarh","Aligarh");
document.getElementById(city).options[3]=new Option("Allahabad","Allahabad");
document.getElementById(city).options[4]=new Option("Bareilly","Bareilly");
document.getElementById(city).options[5]=new Option("Firozabad","Firozabad");
document.getElementById(city).options[6]=new Option("Ghaziabad","Ghaziabad");
document.getElementById(city).options[7]=new Option("Gorakhpur","Gorakhpur");
document.getElementById(city).options[8]=new Option("Jhansi","Jhansi");
document.getElementById(city).options[9]=new Option("Kanpur","Kanpur");
document.getElementById(city).options[10]=new Option("Mathura","Mathura");
document.getElementById(city).options[11]=new Option("Meerut","Meerut");
document.getElementById(city).options[12]=new Option("Moradabad","Moradabad");
document.getElementById(city).options[13]=new Option("Noida","Noida");
document.getElementById(city).options[14]=new Option("Varanasi","Varanasi");
break;
case "Uttarakhand" :
document.getElementById(city).options[0]=new Option("Gairsain","Gairsain");
document.getElementById(city).options[1]=new Option("Dehradun","Dehradun");
document.getElementById(city).options[2]=new Option("Haridwar","Haridwar");
document.getElementById(city).options[3]=new Option("Mussoorie","Mussoorie");
break;
case "West Bengal" :
document.getElementById(city).options[0]=new Option("Kolkata","Kolkata");
document.getElementById(city).options[1]=new Option("Asansol","Asansol");
document.getElementById(city).options[2]=new Option("Durgapur","Durgapur");
document.getElementById(city).options[3]=new Option("Purulia","Purulia");
document.getElementById(city).options[4]=new Option("Siliguri","Siliguri");
break;
        }
        return true;
    }
    </script>
    </head>
    
    <body>




<form action = "/order" method = "post"> 

<table>
	<tr>
		    Source State:
        <select id="source" name="source" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value, 'city');">
        <option value="">Select source</option>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
		<option value="Arunachal Pradesh">Arunachal Pradesh</option>
		<option value="Assam">Assam</option>
		<option value="Bihar">Bihar</option>
		<option value="Chhattisgarh">Chhattisgarh</option>
		<option value="Goa">Goa</option>
		<option value="Gujarat">Gujarat</option>
		<option value="Haryana">Haryana</option>
		<option value="Himachal Pradesh">Himachal Pradesh</option>
		<option value="Jharkhand">Jharkhand</option>
		<option value="Karnataka">Karnataka</option>
		<option value="Kerala">Kerala</option>
		<option value="Madhya Pradesh">Madhya Pradesh</option>
		<option value="Maharashtra">Maharashtra</option>
		<option value="Manipur">Manipur</option>
		<option value="Meghalaya">Meghalaya</option>
		<option value="Mizoram">Mizoram</option>
		<option value="Nagaland">Nagaland</option>
		<option value="Odisha">Odisha</option>
		<option value="Punjab">Punjab</option>
		<option value="Rajasthan">Rajasthan</option>
		<option value="Sikkim">Sikkim</option>
		<option value="Tamil Nadu">Tamil Nadu</option>
		<option value="Telangana">Telangana</option>
		<option value="Tripura">Tripura</option>
		<option value="Uttar Pradesh">Uttar Pradesh</option>
		<option value="Uttarakhand">Uttarakhand</option>
		<option value="West Bengal">West Bengal</option>
        </select>

    City:
        <script type="text/javascript" language="JavaScript">
        document.write('<select name="city" id="city"><option value="">Select city</option></select>')
        </script>
	</tr>
<br>
	<tr>
		
Destination State:
        <select id="destination" name="destination" onchange="javascript: dynamicdropdown(this.options[this.selectedIndex].value, 'dstcity');">
        <option value="">Select source</option>
        <option value="Andhra Pradesh">Andhra Pradesh</option>
		<option value="Arunachal Pradesh">Arunachal Pradesh</option>
		<option value="Assam">Assam</option>
		<option value="Bihar">Bihar</option>
		<option value="Chhattisgarh">Chhattisgarh</option>
		<option value="Goa">Goa</option>
		<option value="Gujarat">Gujarat</option>
		<option value="Haryana">Haryana</option>
		<option value="Himachal Pradesh">Himachal Pradesh</option>
		<option value="Jharkhand">Jharkhand</option>
		<option value="Karnataka">Karnataka</option>
		<option value="Kerala">Kerala</option>
		<option value="Madhya Pradesh">Madhya Pradesh</option>
		<option value="Maharashtra">Maharashtra</option>
		<option value="Manipur">Manipur</option>
		<option value="Meghalaya">Meghalaya</option>
		<option value="Mizoram">Mizoram</option>
		<option value="Nagaland">Nagaland</option>
		<option value="Odisha">Odisha</option>
		<option value="Punjab">Punjab</option>
		<option value="Rajasthan">Rajasthan</option>
		<option value="Sikkim">Sikkim</option>
		<option value="Tamil Nadu">Tamil Nadu</option>
		<option value="Telangana">Telangana</option>
		<option value="Tripura">Tripura</option>
		<option value="Uttar Pradesh">Uttar Pradesh</option>
		<option value="Uttarakhand">Uttarakhand</option>
		<option value="West Bengal">West Bengal</option>
        </select>


    City:
        <script type="text/javascript" language="JavaScript">
        document.write('<select name="dstcity" id="dstcity"><option value="">Select city</option></select>')
        </script>
 
	</tr>
</table>

<input type = "submit" value="Order">

</form>

<form action="/show_order_page" method="POST">
        <input type = "submit" value="View Orders">
</form>



    </body>
</html>