<html>  
   <body>  
      <form action = "/login" method = "post">  
         <table>  
        <tr><td>Name</td>  
        <td><input type ="text" name ="uname"></td></tr>  
        <tr><td>Password</td>  
        <td><input type ="password" name ="pass"></td></tr>  
        <tr><td><input type = "submit" value="Login"></td></tr>  

    </table>  
      </form>
      <form action="/signup_page" method="GET">
        <input type = "submit" value="Signup">
      </form>


</form>
      <form action="/admin_login" method="POST">
        <input type = "submit" value="Admin Login">
      </form>

   </body>  
</html>  
